/*!
Project name: HTML Playground
Version: ALL
Author: GINGER
*/
/* line 4, includes/sass/_header.scss */
.navbar-nav > li > a {
  padding-top: 16px;
  padding-bottom: 16px;
}

/* line 12, includes/sass/_header.scss */
.navbar-brand img {
  height: 22px;
}

/* line 17, includes/sass/_header.scss */
.navbar-text {
  margin-top: 16px;
}
