.fade {
	opacity: 1;
}

.fade .oblak {
	opacity: 0;
	transition: opacity .25s ease-in-out;
	-moz-transition: opacity .25s ease-in-out;
	-webkit-transition: opacity .25s ease-in-out;
}

.fade:hover .oblak {
	opacity: 1;
}


// Puz
#puz #mouth {
  -webkit-animation-name: hohoho;
  -webkit-animation-duration: 6s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-transform-origin: 50%;

  animation-name: hohoho;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  transform-origin: 50%;
}

@-webkit-keyframes hohoho { 
  0% { -webkit-transform: scaleY(1.1) scaleX(1.2); } 
  5% {  -webkit-transform: scaleY(2) scaleX(.9); } 
  10% {  -webkit-transform: scaleY(1.1) scaleX(1); } 
  15% {  -webkit-transform: scaleY(2) scaleX(.9); } 
  20% {  -webkit-transform: scaleY(1.1) scaleX(1); } 
  27% {  -webkit-transform: scaleY(2) scaleX(.95); } 
  27% {  -webkit-transform: scaleY(2) scaleX(.95); } 
  27.5% {  -webkit-transform: scaleY(2) scaleX(.95); } 
  43% {  -webkit-transform: scaleY(1.1) scaleX(1.2); } 
  100% {  -webkit-transform: scaleY(1.1) scaleX(1.2); } 
}

@keyframes hohoho { 
  0%  { transform: scaleY(1.1) scaleX(1.2); } 
  5% {  transform: scaleY(2) scaleX(.9); } 
  10% {  transform: scaleY(1.1) scaleX(1); } 
  15% {  transform: scaleY(2) scaleX(.9); } 
  20% {  transform: scaleY(1.1) scaleX(1); } 
  27% {  transform: scaleY(2) scaleX(.95); } 
  27% {  transform: scaleY(2) scaleX(.95); } 
  27.5% {  transform: scaleY(2) scaleX(.95); } 
  43% {  transform: scaleY(1.1) scaleX(1.2); } 
  100% {  transform: scaleY(1.1) scaleX(1.2); } 
}


// Candycanes
#treecandy:hover #candycane3 {
	-webkit-animation-name: bellring;
	-webkit-animation-duration: 3s; 
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: ease-in-out;
	-webkit-animation-delay: -1.5s;
	-webkit-animation-direction: alternate;
	-webkit-transform-origin: 50% 0%;

	animation-name: bellring;
	animation-duration: 3s; 
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
	animation-delay: -1.5s;
	animation-direction: alternate;
	transform-origin: 50% 0%;
	
	-moz-animation: none;
}

@-webkit-keyframes bellring { 
	0% { -webkit-transform: rotateZ(7deg); }
	100% { -webkit-transform: rotateZ(-7deg); }
}

@keyframes bellring { 
	0% { transform: rotateZ(7deg); }
	100% { transform: rotateZ(-7deg); }
}