// ------------------------------------ [ Ptica-onama mahanje krilom fix ]
.svg-ptica-onama {
	max-width: 643.78px;
	max-height: 84px; 
	// Wrap the element in a group and move its upper left corner - (0,0) coordinate - to the bottom left of the document.
	.correction { 
		-webkit-transform: translate(0px, 21.186px);
		transform: translate(0px, 21.186px);
	}
	// Translate elements to the upper left corner of the .correction group. Transform origin is now unnecesarry.
	#wing_x5F_onama_x5F_right_x5F_fix > *,
	#wing_x5F_onama_x5F_left_x5F_fix > * {
		-webkit-transform: translate(0px, -21.186px);
		-moz-transform: translate(0px, -21.186px);
		transform: translate(0px, -21.186px);
	}
}

// ------------------------------------ [ Ptica-onama mahanje krilom desno ]
.svg-ptica-onama #wing_x5F_onama_x5F_right_x5F_fix {
	-webkit-animation-name: wing_onama_right;
	-webkit-animation-duration: 0.25s; 
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
	-webkit-animation-direction: alternate;

	-moz-animation-name: wing_onama_right;
	-moz-animation-duration: 0.25s; 
	-moz-animation-iteration-count: infinite;
	-moz-animation-timing-function: linear;
	-moz-animation-direction: alternate;
  
	animation-name: wing_onama_right;
	animation-duration: 0.25s; 
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	animation-direction: alternate;
}

@-webkit-keyframes wing_onama_right { 
	0% { -webkit-transform: rotate(20deg); }
	100% { -webkit-transform: rotate(0deg); }
}

@-moz-keyframes wing_onama_right { 
	0% { -moz-transform: rotate(20deg); }
	100% { -moz-transform: rotate(0deg); }
}

@keyframes wing_onama_right { 
	0% { transform: rotate(20deg); }
	100% { transform: rotate(0deg); }
}

// ------------------------------------ [ Ptica-onama mahanje krilom ljevo ]
.svg-ptica-onama #wing_x5F_onama_x5F_left_x5F_fix {
	-webkit-animation-name: wing_onama_left;
	-webkit-animation-duration: 0.25s; 
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
	-webkit-animation-direction: alternate;

	animation-name: wing_onama_left;
	animation-duration: 0.25s; 
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	animation-direction: alternate;
}

@-webkit-keyframes wing_onama_left { 
	0% { -webkit-transform: rotate(20deg); }
	100% { -webkit-transform: rotate(0deg); }
}

@-moz-keyframes wing_onama_left { 
	0% { -moz-transform: rotate(20deg); }
	100% { -moz-transform: rotate(0deg); }
}

@keyframes wing_onama_left { 
	0% { transform: rotate(20deg); }
	100% { transform: rotate(0deg); }
}

// ------------------------------------ [ Ptica-onama translate ]
.svg-ptica-onama-inner {
	-webkit-animation-name: pticaonamatranslate;
	-webkit-animation-duration: 3s;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-timing-function: ease-out;
	-webkit-animation-direction: normal;

	animation-name: pticaonamatranslate;
	animation-duration: 3s;
	animation-iteration-count: 1;
	animation-timing-function: ease-out;
	animation-direction: normal;
}

@-webkit-keyframes pticaonamatranslate {
	0% { -webkit-transform: translateX(643.78px); }
	100% { -webkit-transform: translateX(0); }
}

@-moz-keyframes pticaonamatranslate {
	0% { -moz-transform: translateX(643.78px); }
	100% { -moz-transform: translateX(0); }
}

@keyframes pticaonamatranslate {
	0% { transform: translateX(643.78px); }
	100% { transform: translateX(0); }
}



// ------------------------------------ [ Jez-onama okretanje kotaca fix ]
.svg-jez-onama {
	max-width: 400px;
	max-height: 45px; 
	// Wrap the element in a group and move its upper left corner - (0,0) coordinate - to the center of the document.
	.correction { 
		display: inline-block;
		-webkit-transform: translate(6px, 6px);
		transform: translate(6px, 6px);
	}
	// Translate elements to the upper left corner of the .correction group. Transform origin is now unnecesarry.
	#jez_x5F_onama_x5F_kotac_x5F_r_x5F_fix > *,
	#jez_x5F_onama_x5F_kotac_x5F_l_x5F_fix > * {
		-webkit-transform: translate(-6px, -6px);
		-moz-transform: translate(-6px, -6px);
		transform: translate(-6px, -6px);
	}
}

.svg-jez-onama .kotacici {
	-webkit-animation-name: spinara;
	-webkit-animation-duration: 3s; 
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: ease;
	-webkit-animation-direction: alternate;
	-webkit-animation-delay: 0;
	-webkit-transform-origin: 44% 55%;

	animation-name: spinara;
	animation-duration: 3s; 
	animation-iteration-count: infinite;
	animation-timing-function: ease;
	animation-direction: alternate;
	animation-delay: 0;

	-moz-transform-origin: 44% 55%;
}

@-webkit-keyframes spinara { 
	100% { -webkit-transform: rotate(4turn); }
}

@keyframes spinara { 
  100% { transform: rotate(4turn); }
}

// ------------------------------------ [ Jez-onama translate ]
.svg-jez-onama-inner {
	-webkit-animation-name: jezonamatranslate;
	-webkit-animation-duration: 6s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: ease;

	animation-name: jezonamatranslate;
	animation-duration: 6s;
	animation-iteration-count: infinite;
	animation-timing-function: ease;
}

@-webkit-keyframes jezonamatranslate {
	50% { -webkit-transform: translateX(325px); }
	100% { -webkit-transform: translateX(0); }
}

@-moz-keyframes jezonamatranslate {
	50% { -moz-transform: translateX(325px); }
	100% { -moz-transform: translateX(0); }
}

@keyframes jezonamatranslate {
	50% { transform: translateX(325px); }
	100% { transform: translateX(0); }
}








